{% load static %}

<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
	<title>storms troopers</title>
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Sarpanch" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
  
</head>
<body class="text-center">
  <div class="container">
    <h1 style="font-size:55px; font-family: Sarpanch; padding-top:15px;">storm troopers</h1>

     <div class = "row">
       <div class="col-12"> 
        <img style="height:180px" src = "https://www.freepnglogos.com/uploads/cloud-png/small-single-cloud-image-transparent-20.png">
       </div>
       </div>
    <div class = "row">
       <div class="col-12"> 
         <img style="height:50px; margin-right:20px; border-radius:20%; border-style: solid; border-width:1px;" src="https://images-na.ssl-images-amazon.com/images/I/312v92mwp9L.jpg"> 
         <button type="button" style = "color:black; font-family:Sarpanch;" class="btn btn-link">search city</button> 
      </div>
    </div>
  
    <div class = "row">
      <div class="col-12"> <img style="height:50px; border-radius:20%; margin-right:20px; border-style: solid; border-width:1px;" src="https://static.thenounproject.com/png/659803-200.png"> 
        <button type="button" style = "color:black; font-family:Sarpanch;" class="btn btn-link">saved cities</button> </div>
    </div>
  
  <div class = "row">
      <div class="col-12"> <img style="height:50px; border-radius:20%;margin-right:20px; border-style: solid; border-width:1px;" src="https://www.pinclipart.com/picdir/middle/4-48397_free-car-icon-car-icon-transparent-background-clipart.png">
       <button type="button" style = "color:black; font-family:Sarpanch;" class="btn btn-link">plan a chase</button> </div>
  </div>
    
  <div class = "row">
      <div class="col-12"> <img style="height:50px; border-radius:20%;margin-right:20px; border-style: solid; border-width:1px;" src="https://cdn3.iconfinder.com/data/icons/vector-icons-for-mobile-apps-2/512/Settings_black-512.png">
       <button type="button" style = "color:black; font-family:Sarpanch;" class="btn btn-link">settings</button> </div>
  </div>
  </div>
	
	<!-- /replace this html -->
</body>
</html>





