{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>storms chasers</title>
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Inknut Antiqua" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'weather/css/search.css' %}" />
  
</head>
<body class="text-center">
  <div class="container">
    <div class = "row">
       <div class="col-12"> 
         <img style="height:70px; padding-right:20px;" src="https://images-na.ssl-images-amazon.com/images/I/312v92mwp9L.jpg"> 
         search city 
      </div>
    </div>
    
  </div>
	<!-- /replace this html -->
</body>
</html>





